// Refresh minicart count
$("#link-to-cart").html('<%= escape_javascript render("spree/shared/cart") %>');

// Refresh minicart line items
<% if flash[:error].blank? %>
	$("#content_dynamic_cart").html('<%= escape_javascript render("spree/shared/minicart_content") %>');
<% else %>  
		$('#form_dynamic_cart').prepend("<div id='out-of-stock' class='alert alert-error'></div>");
		$('#out-of-stock').html('<%= Spree.t(:exceeds_available_stock) %>');
		$('#form_dynamic_cart').scrollTop(0);
<% end %>

$("#progress").slideUp();
// Close minicart after 2,5 seconds
setTimeout(function () {
    $('#cd-cart').removeClass('speed-in');
    $('#cd-shadow-layer').removeClass('is-visible');
    $('#out-of-stock').remove();
}, 10000);
