#progress {
  display:none;
  z-index: 99;
  text-align: center;
  background: #00ADEE;
  padding: 4px 10px;
  color: white;
  margin: 0 auto;
  position: fixed; left: 44%; top: 32%;
}

nav #main-nav-bar li#link-to-cart #minicart a {
  font-size: 12px
}

nav #main-nav-bar li#link-to-cart #minicart a.button {
  font-size: 12px;
  color: white !important;
}

ul#minicart-items {
	 list-style: none;
  margin: 0 10px;
}


ul#minicart-items li{
	 min-height: 80px;
	 border-style: dotted; border-color: black; border-width: 0px 0px 1px 0px;
	 margin: 0px 0px 10px 0px; 
}
#minicart {
  background-color:aliceBlue;
  z-index: 100;
  position: absolute;
  right: 0px;
  padding: 10px;
  border: 1px solid #DEDEDE;
  float:right;
  display: none;
  width: 400px;
}
ul#minicart-items > li > a > img { float: left; padding: 0px 10px 0px 0px; }

#minicart div#minicart-details a.button.checkout{
  float:right;
}
#minicart-details { margin: 0px 0px 10px 0px; padding: 0px 0px 10px 0px; border-style: solid; border-color: white; border-width: 0px 0px 1px 0px; }
.minicart-actions { float: right; position: relative; top: -20px; }
#minicart-footer { float: right; }
