<div id='cd-cart'>
  <% @body_id = 'cart' %>

  <%= render :partial => 'spree/shared/minicart_header' %>

  <div id="content_dynamic_cart">
     <%= render :partial => 'spree/shared/minicart_content' %>
  </div>

</div>