<div id="cart_title">
  <p><a id="close_cart"><i class="fa fa-chevron-left fa-2x"></i></a><%= t(:your_bag) %></p>
</div>
<div id="progress"><%= image_tag 'spree/frontend/preloader.gif' %> <%= Spree.t(:loading) %>...</div>
